

<!-- <a href="/#!/animals"><input type="button" value="Animals"></a>
<a href="/#!/personnel"><input type="button" value="Personnel"></a>
<a href="/#!/"><input type="button" value="home"></a>
 -->


<ul class="nav nav-pills">
  <li role="presentation" ><a href="/westley-js-front-end/#!/animals">Animals</a></li>
  <li role="presentation"><a href="/westley-js-front-end/#!/personnel">Personnel</a></li>
  <li role="presentation"><a href="/westley-js-front-end/#!/">Home</a></li>
</ul>


<div class="flex">
  <a href="/#!/animals" class="gates"><img src="https://userscontent2.emaze.com/images/4a761ac2-2ecd-40df-aec7-2ed9e4b094e1/afeca0ac4916890d62b0c74797b0bf74.gif" class="img-responsive center-block"></a>
</div>
