<!-- <h1>Add, Edit or Delete an Animal</h1> -->

<div class="row main">
 <div class="main-login main-center">
  <h5>Add an Animal to Your Park</h5>
    <form class="" method="post" action="#">

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Animal Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter Name"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="species" class="cols-sm-2 control-label">Species</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="species" id="species"  placeholder="Enter species"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="gender" class="cols-sm-2 control-label">Gender</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="gender" id="gender"  placeholder="Enter Animal Gender"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="age" class="cols-sm-2 control-label">Age</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="age" id="age"  placeholder="Enter Animal Age"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="kills" class="cols-sm-2 control-label">Number of Kills</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="kills" id="kills"  placeholder="Enter the number of Deaths this animal has caused"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="category" class="cols-sm-2 control-label">Category of Dino</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <select class="form-control">
              <option >1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>

          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="assignKeeper" class="cols-sm-2 control-label">Assign to Zookeeper</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <select class="form-control">
              <option name="">1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <a href="http://deepak646.blogspot.in" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Add Dino</a>
      </div>

    </form>
  </div>
</div>
