<h1>Add, Edit or Delete an Employee</h1>

<div class="row main">
 <div class="main-login main-center">
  <h5>Add an Employee to Your Park</h5>
    <form class="" method="post" action="#">

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Employee Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter Name"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="age" class="cols-sm-2 control-label">Age</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="age" id="age"  placeholder="Enter Employee's Current Age"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="doh" class="cols-sm-2 control-label">Date of Hire</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="doh" id="doh"  placeholder="Date of Hire"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="speciality" class="cols-sm-2 control-label">Speciality</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="speciality" id="speciality"  placeholder="Enter Employee's Speciality"/>
          </div>
        </div>
      </div>




      <div class="form-group ">
        <a href="http://deepak646.blogspot.in" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Add Employee</a>
      </div>

    </form>
  </div>
</div>
