<!-- <h1>Add, Edit or Delete an Employee</h1> -->


<!-- <div>
  <a href="#!/personnel" class="btn btn-default">Show All Employees</a>
  <a href="#!/" class="btn btn-default" >Home</a>
</div> -->

<ul class="nav nav-pills">

  <li role="presentation" ><a href="#!/personnel">Show All Employees</a></li>
  <li role="presentation"><a href="/#!/">Home</a></li>
</ul>


<div class="row main">
 <div class="main-login main-center">
  <h3 class="text-center" ng-if="edit===false">Add a New Trainer to Your Park</h3>
  <h3 class="text-center" ng-if="edit===true">Edit this Employee</h3>
    <form class="" method="post" action="#">

      <div class="form-group">
        <label for="first_name" class="cols-sm-2 control-label">Employee First Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="first_name" id="first_name"  placeholder="Enter First Name" ng-model="trainer.first_name" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="last_name" class="cols-sm-2 control-label">Employee Last Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Enter Last Name" ng-model="trainer.last_name" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label ng-if="menu === 'trainer'" for="gender" class="cols-sm-2 control-label">Trainer Gender</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="gender" id="gender"  placeholder="Enter Employee gender" ng-model="trainer.gender" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="age" class="cols-sm-2 control-label">Age</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="age" id="age"  placeholder="Enter Employee's Current Age" ng-model="trainer.age" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="date_of_hire" class="cols-sm-2 control-label">Date of Hire</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="date_of_hire" id="date_of_hire"  placeholder="Date of Hire" ng-model="trainer.date_of_hire" required/>
          </div>
        </div>
      </div>

     <!--  <div ng-if="menu === 'keeper'" class="form-group">
        <label  for="speciality" class="cols-sm-2 control-label">Speciality</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="speciality" id="speciality"  placeholder="Enter Employee's Speciality" ng-model="keeper.speciality" required/>
          </div>
        </div>
      </div> -->

      <div ng-if="menu === 'trainer'" class="form-group">
        <label  for="expertise" class="cols-sm-2 control-label">Trainer Expertise</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <select class="form-control" name="category_id" id="category_id" ng-model="trainer.category_id" ng-options="category.id as category.name for category in categories">
              <!-- <option class="disabled selected" ng-if="animal.category_id === undefined">Choose a Category</option> -->
             <!--  <option  value="category.id">{{ category.name }}</option> -->
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label ng-if="menu === 'trainer'" for="trainer_image" class="cols-sm-2 control-label">Trainer Image</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="trainer_image" id="trainer_image"  placeholder="Enter Image URL" ng-model="trainer.trainer_image" required/>
          </div>
        </div>
      </div>




      <div class="form-group ">
        <div>
          <a href="#!/personnel" type="button" id="button" class="btn btn-warning btn-lg btn-block login-button" >Cancel</a>
        </div>
        <div class="form-group ">
          <a href="#"  type="button" id="button" class="btn btn-danger btn-lg btn-block login-button" ng-click=delete()>Delete This Employee</a>
        </div>
        <div ng-if="edit===true">
         <a href="#" type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" ng-click=sendEdit()>Commit Edits</a>
        </div>
        <div ng-if="edit===false">
          <a href="#" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button" ng-click=sendAdd()>Add New Employee</a>
        </div>
      </div>


    </form>
  </div>
</div>
