body {
  background-color: black;
  color: red;
    display: flex;
  flex-direction: row;
}


.container {

}

.jurassicLogo {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.animalCard {
  border: 1px solid yellow;
  color: red;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 30%;
  height: 350px;
  overflow: scroll;
}

.animalPic {
  width: 90%;
  margin: 5%;
}

.titlePic {
  width: 275px;
  display: inline;
}

#title {
  display: inline;
  font-size: 5em;
  margin: auto;
}

.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}
