body {
  background-color: black;
  color: red;
}


.container-fluid {
  display: flex;
  flex-direction: column;
}

.jurassicLogo {
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
  justify-content: center;
}

.gates {
  cursor: pointer;
  align-items: center;
}



.nav {
  background-color: red;
  color: black;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 100%;
}

a  {
  color: black;
}

.nav li a:hover {
  background-color: yellow;
  color: black;
}

.headline {
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-right: 25%;
  margin-left: 25%;
}

.animalCard {
  border: 1px solid yellow;
  color: red;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 30%;
  height: 350px;
  overflow: scroll;
}

.animalPic {
  width: 90%;
  margin: 5%;
}

.titlePic {
  width: 275px;
  display: inline;
}

#title {
  display: inline;
  font-size: 5em;
  margin: auto;
}

.deleteZookeeperButton{
  display: inline;
}

.zookeeperDeleteName {
  display: inline;
}
